$sidebarWidth: 40rem;
$baseSpacing: 1rem;

@import 'materialize';

@import 'sidebar';
@import 'map';
@import 'search';

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}
body {
  background: white;
  font-size: 10px;
}

main.mainWrapper {
  width: calc(100% - #{$sidebarWidth});
  height: 100%;
  float: left;
  position: relative;
}