$sidebarWidth: 40rem;
$baseSpacing: 1rem;
$transition: .25s;

$twitter-blue: #20B8FF;
$instagram-beige: #E2DED3;

@import 'materialize';

@import 'sidebar';
@import 'map';
@import 'search';

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}
body {
  background: white;
  font-size: 16px;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.5rem; }

main.mainWrapper {
  width: calc(100% - #{$sidebarWidth});
  height: 100%;
  float: left;
  position: relative;
}