#bigSearch {

  font-size: 2rem;
  box-sizing: border-box;
  width: calc(100% - 2*#{$baseSpacing});
  background-color: white;
  padding: 2*$baseSpacing $baseSpacing;
  position: absolute;
  top: $baseSpacing;
  left: $baseSpacing;
  right: $baseSpacing;
  z-index: 1;
  @extend .z-depth-1;

}

#bigSearchLanding {

  font-size: 2rem;
  box-sizing: border-box;
  width: calc(100% - 2*#{$baseSpacing});
  background-color: white;
  padding: 2*$baseSpacing $baseSpacing;
  z-index: 1;
  @extend .z-depth-1;

}

div.search .preloader {
  position: absolute;
  right: 2 * $baseSpacing;
  top: 2 * $baseSpacing;
  z-index: 3;
  width: 2*$baseSpacing;
  height: 2*$baseSpacing;
}

#circleoflife {
  display: none;
}