aside.sidebarWrapper header {
  padding: $baseSpacing;
  //border-bottom: 1px solid #DDD;
  right: -$sidebarWidth;
  transition: right .75s;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

aside.sidebarWrapper {
  overflow-y: scroll;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: $sidebarWidth;
  border-left: 1px solid #DDD;
}

aside.sidebarWrapper ul.collapsible {
  box-shadow: none;
  border-left: 0;
  border-right: 0;

  &.invisible {
    display: none;
  }

  div.collapsible-body ul li {
    padding-top: $baseSpacing;
    padding-left: $baseSpacing;
    padding-right: $baseSpacing;
    .card {
      margin: 0;
    }
  }

  div.collapsible-header {
    img.avatar {
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
      margin-right: 1rem;
    }
    transition: background-color $transition;
    &:hover {
      background-color: rgba(0,0,0,.05);
    }
  }
}