extends layout

block search
    div.search
        input(type="search", placeholder="Search all around the world")#bigSearch

block sidebar
    header#header
        h4.thin No post selected
    ul.invisible.collapsible(data-collapsible="expandable")#sidebarResults
        li
            div.collapsible-header
                img(src="js/icons/twitter-round.svg").avatar
                span.
                    Twitter
                span.badge#twitterResultsCount.
            div.collapsible-body
                ul#twitterResults
        li
            div.collapsible-header
                img(src="js/icons/instagram-round.svg").avatar
                span.
                    Instagram
                span.badge#instagramResultsCount.
            div.collapsible-body
                ul#instagramResults
        li
            div.collapsible-header
                img(src="js/icons/nyt-round.svg").avatar
                span.
                    New York Times
                span.badge#nytimesResultsCount.
            div.collapsible-body
                ul#nytimesResults
        li
            div.collapsible-header
                img(src="js/icons/yikyak-round.svg").avatar
                span.
                    YikYak
                span.badge#yikyakResultsCount.
            div.collapsible-body
                ul#yikyakResults
block map
    div#mapCanvas