extends layout

block search
    div.search
        input(type="search", placeholder="Search all around the world")#bigSearch

block sidebar
    header
        h1 GeoLoco
        p.
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        h3 How do I use it?
        p.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
    ul.collapsible(data-collapsible="expandable")
        li
            div.collapsible-header
                i.mdi-image-filter-drama
                | First
            div.collapsible-body
                p.
                    Lorem ipsum dolor sit amet

block map
    div#mapCanvas