extends layout

block search
    div.search
        input(type="search", placeholder="Search all around the world")#bigSearch

block sidebar
    header
        h1 GeoLoco
        p.
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        h3 How do I use it?
        p.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
    ul.invisible.collapsible(data-collapsible="expandable")#sidebarResults
        li
            div.collapsible-header
                img(src="js/icons/twitter-round.svg").avatar
                span.
                    Twitter
                span.badge#twitterResultsCount.
            div.collapsible-body
                ul#twitterResults
        li
            div.collapsible-header
                img(src="js/icons/instagram-round.svg").avatar
                span.
                    Instagram
                span.badge#instagramResultsCount.
            div.collapsible-body
                ul#instagramResults
        li
            div.collapsible-header
                img(src="js/icons/nyt-round.svg").avatar
                span.
                    New York Times
                span.badge#nytimesResultsCount.
            div.collapsible-body
                ul#nytimesResults
block map
    div#mapCanvas