extends layout

block content
    <body onload="initMap()">
    <div id="map_canvas"></div>
    form#sendCor(name="sendCor",method="get",action="/api")
        input#latFld(type="text", placeholder="lng", name="lng")
        input#lngFld(type="text", placeholder="lat", name="lat")
        button#btnSubmit(type="submit") Send Lng Lat
    </body>
