doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/app.css')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='http://maps.google.com/maps/api/js?sensor=false&libraries=places')
        script(src='/js/materialize.min.js')

    body

        <video autoplay loop poster="polina.jpg" id="bgvid">
        <source src="video/seattleferryride.webm" type="video/webm">
        <source src="video/seattleferryride.mp4" type="video/mp4">
        </video>

        div.centerLanding
            div.row
                div.col.s12
                   h1.center.white-text GeoLoco
            div.row.centerLanding
                div.col.s8.offset-s2
                    input(type="search", placeholder="Search all around the world")#bigSearchLanding

        script(type='text/javascript').
            console.log('test');

            // Create the search box and link it to the UI element.
            var input = /** @type {HTMLInputElement} */(document.getElementById('bigSearchLanding'));
            // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            var searchBox = new google.maps.places.SearchBox(
                /** @type {HTMLInputElement} */(input));

            // Listen for the event fired when the user selects an item from the
            // pick list. Retrieve the matching places for that item.
            google.maps.event.addListener(searchBox, 'places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length != 1) {
                    return;
                }

                // initResultMap(places[0].geometry.location);

                console.log(places[0].geometry.location);
                var lat = places[0].geometry.location.A;
                var lng = places[0].geometry.location.F;
                window.location.href = "http://localhost:1337?lat=" + lat + "&lng=" + lng;
            });